body{
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
    transition: background-color 0.5s ease;
    height: 18000px; 
    position: relative;
    margin: 0;
} 

h1{
    font-size: 200%;
    color: rgb(164, 164, 164);
    margin-top: 20px;
}

.vertical-line {
    position: absolute;
    top: 250px;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 17550px;
    background-color: rgb(164, 164, 164);
    transform: translateX(-50%);
}

.image-container {
    position: relative;
}

img {
    position: absolute;
    width: 20%;
    height: auto;
}

#bobDog {
    top: 1.5%;
    left: 5%;
}

#stand {
    top:3%;
    left: 28%;
}

#golfin {
    top:4.5%;
    left: 5%;
}

#tuba {
    top:6%;
    left: 28%;
}

#bobFam {
    top: 7.5%;
    left: 5%; 
}

#bike {
    top: 9%; 
    left: 28%; 
}

#patColor {
    top: 1.5%;
    left: 55%;
}

#parents {
    top: 3%;
    left: 78%;
}

#dog {
    top: 4.5%;
    left: 55%;
}

#piano {
    top: 6%;
    left: 78%;
}

#siblings {
    top:7.5%;
    left: 55%;
}

#hsTrack {
    top: 10.5%;
    left: 5%;
}

#women {
    top: 10.5%;
    left: 55%;
}

#grad {
    top: 13%;
    left: 40%;
}

#invite {
    top: 15%;
    left: 36%;
    width: 30%;
}

#suited {
    top: 19%;
    left: 36%;
    width: 30%;
}

#ls {
    top: 22.8%;
    left: 36%;
    width: 30%;
}

#wood {
    top: 25%;
    left: 36%;
    width: 30%;
}

#family {
    top: 27.5%;
    left: 36%;
    width: 30%;
}

#settle {
    top: 30%;
    left: 36%;
    width: 30%;
}

#dave {
    top: 34%;
    left: 36%;
    width: 30%;
}

#wedding {
    top: 36%;
    left: 36%;
    width: 30%;
}

#speechNew {
    top: 38.5%;
    left: 36%;
    width: 30%;
}

#houseOld {
    top: 42.5%;
    left: 36%;
    width: 30%;
}

#swingset {
    top: 44.5%;
    left: 36%;
    width: 30%;
}

#riverBed {
    top: 47%;
    left: 36%;
    width: 30%;
}

#treehouse {
    top: 49.5%;
    left: 36%;
    width: 30%;
}

#vermont {
    top: 52%;
    left: 36%;
    width: 30%;
}

#alley {
    top: 54.5%;
    left: 36%;
    width: 30%;
}

#sky {
    top: 57%;
    left: 36%;
    width: 30%;
}

#Flowers {
    top: 59.5%;
    left: 36%;
    width: 30%;
}

#viviNana {
    top: 62%;
    left: 36%;
    width: 30%;
}

#rooftop {
    top: 64.5%;
    left: 36%;
    width: 30%;
}

#wholeFam {
    top: 67%;
    left: 36%;
    width: 30%;
}

#fam {
    top: 69.5%;
    left: 36%;
    width: 30%;
}

#grin {
    top: 71.8%;
    left: 36%;
    width: 30%;
}

#grandkids {
    top: 74.5%;
    left: 36%;
    width: 30%;
}

#famSwitz {
    top: 77%;
    left: 36%;
    width: 30%;
}

#houseNew {
    top: 79.5%;
    left: 36%;
    width: 30%;
}

#italy {
    top: 82%;
    left: 26%;
    width: 50%;
}

#cin {
    top: 86%;
    left: 5%;
    width: 20%;
}

#hughes {
    top: 88%;
    left: 28%;
    width: 20%;
}

#house {
    top: 90%;
    left: 5%;
    width: 20%;
}

#grad2 {
    top: 91.5%;
    left: 28%;
    width: 20%;
}

#bro {
    top: 93%;
    left: 5%;
    width: 20%;
}

#mccauley {
    top: 96%;
    left: 8%;
    width: 40%;
}
